<article id="comment-{{ include.id }}" class="js-comment comment {% unless include.parent == include.id %}child{% endunless %}" itemprop="comment" itemscope itemtype="https://schema.org/Comment">
  <div class="comment__avatar-wrapper">
    <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=80" alt="{{ include.name }}">
  </div>
  <div class="comment__content-wrapper">
    <h3 class="comment__author" itemprop="author" itemscope itemtype="https://schema.org/Person">
      {% unless include.url == '' %}
        <span itemprop="name"><a rel="external nofollow" itemprop="url" href="{{ include.url }}">{{ include.name }}</a></span>
      {% else %}
        <span itemprop="name">{{ include.name }}</span>
      {% endunless %}
    </h3>
    <p class="comment__date">
      {% if include.date %}
        {% if include.id %}<a href="#comment-{{ include.id }}" itemprop="url" title="Permalink to this comment">{% endif %}
        <time datetime="{{ include.date | date_to_xmlschema }}" itemprop="datePublished">{{ include.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
        {% if include.id %}</a>{% endif %}
      {% endif %}
    </p>
    <div itemprop="text">{{ include.message | markdownify }}</div>
  </div>

  {% unless include.is_last == false or page.comments_locked == true %}
  <div class="comment__reply">
    <a rel="nofollow" class="btn" href="#comment-{{ include.id }}" onclick="return addComment.moveForm('comment-{{ include.id }}', '{{ include.parent }}', 'respond', '{{ page.slug }}')">
      {{ site.data.ui-text[site.locale].comment_form_reply_to | default: "Reply to" }} {{ include.name }}
    </a>
  </div>
{% endunless %}
</article>

{% for reply in include.replies %}
  {% assign id          = reply[1]._id %}
  {% assign parent      = reply[1]._parent %}
  {% assign avatar      = reply[1].avatar %}
  {% assign email       = reply[1].email %}
  {% assign name        = reply[1].name %}
  {% assign url         = reply[1].url %}
  {% assign date        = reply[1].date %}
  {% assign message     = reply[1].message %}
  {% assign is_last     = forloop.last %}
  {% include comment.html id=id parent=parent avatar=avatar email=email name=name url=url date=date message=message is_last=is_last%}
{% endfor %}