{% assign words_per_minute = site.words_per_minute | default: 200 %}

{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if words < words_per_minute %}
  <span data-translate="less_than">{{ site.data.ui-text[site.locale].less_than | default: "less than" }}</span> 1 <span data-translate="minute_read">{{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}</span>
{% elsif words == words_per_minute %}
  1 <span data-translate="minute_read">{{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}</span>
{% else %}
  {{ words | divided_by:words_per_minute }} <span data-translate="minute_read">{{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}</span>
{% endif %}